* {
margin: 0;
padding: 0;
}

body{
    
    Width: 1440px;
    Height: 2746px;
    Top: 1258px;
    Left:-6195px; 
    background-color: #C1CAC8;
}

fondo_blanco{
    position: absolute;
    width: 1352px;
    height: 2638px;
    left: 44px;
    top: 45px;
    background: #FFFEFE;
    border-radius: 41px;
    }

barra{
    position: absolute;
    width: 1352px;
    height: 85px;
    left: 0px;
    top: 224px;
    
    background: #02475E;

}

inicio{
position:static ;
width: 111px;
height: 48px;
left: 152px;
top: 243px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #FFFFFF; 
margin-left:50px;
}

catalogo{ 
    position:static ;
    width: 180px;
    height: 48px;
    left: 415px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:150px;
    }

 solicita{ 
    position:static ;
    width: 276px;
    height: 39px;
    left: 794px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:250px;
}   
 contacto{ 
    position:static ;
    width: 165px;
    height: 48px;
    left: 1177px;
    top: 243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
    margin-left:350px;
 }

h2 {
    background-color: blueviolet;
}

